.img-about{
    height: 470px;
    width: 550px;
}
.aboutTitle{
    font-weight: bolder;
}
.title{
    font-weight: normal;
}

@media only screen and (max-width: 640px) {
    .img-about{
        height: 250px;
        margin-bottom: 30px;
        /* width: 550px; */
    }
}
@media only screen and (min-width: 640px) {
    .img-about{
        height: 350px;
        margin-bottom: 30px;
        width: 670px;
    }
}

