<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">A propos</h1>
                        <p>Présentation de l'association.</p>
                    </div>
                 </div>
            </div> 
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="company-information" class="choose">
    <div class="container">
        <div class="row margin-bottom margin-top">
            <div class="col-sm-6 wow fadeInDown">
                <img src="../../../assets/images/aboutus/IMPLICATION.jpg" class="img-responsive img-about" alt="">
            </div>
            <div class="mb-3 col-sm-6 wow fadeInDown">
                <h2 class="uppercase aboutTitle">Association Archéo G4</h2>
                <p>   
                    Nous sommes une association proposant des conférences, ainsi que des sorties archéologiques 
                    et ethnologiques mensuelles permettant de retrouver sur le terrain le patrimoine légué par nos ancêtres et les vestiges de leurs activités. 
                    Nous publions également une revue annuelle, Archéo4 et organisons 
                    ponctuellement des excursions ou des voyages sur plusieurs jours.
                    Nous participons aux chantiers de fouilles de notre partenariat l'INRAP, en y apportant des bénévoles.
                    <br><br>Nos objectifs : 
                </p>
                <ul class="elements">
                    <li class="wow fadeInUp"><i class="fa fa-arrow-right"></i>
                        favoriser la 
                        connaissance de l’histoire, de la préhistoire, de l’archéologie, 
                        de l’ethnologie et des sciences humaines, par des moyens 
                        jugés utiles tels que :
                        <ul class="elements">
                            <li class="wow fadeInUp"><i class="fa fa-angle-right"></i>
                                sorties
                            </li>
                            <li class="wow fadeInUp"><i class="fa fa-angle-right"></i>
                                visites
                            </li>
                            <li class="wow fadeInUp"><i class="fa fa-angle-right"></i>
                                conférences
                            </li>
                            <li class="wow fadeInUp"><i class="fa fa-angle-right"></i>
                                publications
                            </li>
                            <li class="wow fadeInUp"><i class="fa fa-angle-right"></i>
                                voyages
                            </li>
                        </ul>
                    </li>
                    <li class="wow fadeInUp"><i class="fa fa-arrow-right"></i> 
                        la mise en valeur et la sauvegarde
                        du patrimoine. 
                    </li>
                        
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/#company-information-->